<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="assets/images/fevicon-m.ico" rel="shortcut icon">
    <title>Doctor Management</title>
    <link href="assets/css/framework.css" rel="stylesheet">
    <link href="assets/css/datepicker.css" rel="stylesheet">
    <link href="assets/css/custom-g.css" rel="stylesheet">
    <link href="assets/css/custom-r.css" rel="stylesheet">
    <link href="assets/css/responsive-r.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <script src="assets/js/modernizr.min.js"></script>
</head>

<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Logo -->
            <div class="topbar-left">


            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container row">
                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="mlogo visible-xs visible-sm"><a href="#"><i class="md"></i></a></div>

                            <div class="hidden-xs hidden-sm">
                                <a class="logo" href="#"><img src="assets/images/qyura-f-l.png"></a>

                                <button class="button-menu-mobile open-left"><i class="fa fa-bars"></i></button> <span class="clearfix"></span>
                            </div>

                            <button class="button-menu-mobile open-left hidden-lg hidden-md"><i class="fa fa-bars"></i></button> <span class="clearfix"></span>
                        </div>

                        <form class="navbar-form pull-left visible-md" role="search">
                            <div class="form-group">
                                <input class="form-control search-bar" placeholder="Type here for search..." type="text">
                            </div>
                            <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <ul class="nav navbar-nav navbar-right pull-right">
                            <li class="dropdown">
                                <a aria-expanded="true" class="dropdown-toggle profile" data-toggle="dropdown" href=""><img alt="user-img" class="img-circle" src="assets/images/users/avatar-1.jpg"> Ramesh K
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><i class=
                                    "md md-face-unlock"></i> Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class=
                                    "md md-settings"></i> Settings</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class=
                                    "md md-lock"></i> Lock screen</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class=
                                    "md md-settings-power"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a aria-expanded="true" class="dropdown-toggle waves-effect waves-light" data-target="#" data-toggle="dropdown" href="#"><i class="md md-notifications"></i>
                           <span class=
                              "badge badge-xs badge-danger">3</span></a>
                                <ul class="dropdown-menu dropdown-menu-lg">
                                    <li class="text-center notifi-title">
                                        Notification
                                    </li>
                                    <li class="list-group">
                                        <a class="list-group-item" href="javascript:void(0);">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <em class="fa fa-user-plus fa-2x text-info">
                                          </em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">
                                                        New user registered
                                                    </div>
                                                    <p class="m-0"><small>You have
                                             10 unread messages</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0);">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <em class="fa fa-diamond fa-2x text-primary">
                                          </em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">
                                                        New settings
                                                    </div>
                                                    <p class="m-0"><small>There are
                                             new settings
                                             available</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0);">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <em class="fa fa-bell-o fa-2x text-danger">
                                          </em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">
                                                        Updates
                                                    </div>
                                                    <p class="m-0"><small>There are
                                             <span class=
                                                "text-primary">2</span> new
                                             updates available</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0);"><small>See
                                 all notifications</small></a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class="hidden-xs">
                           <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="md md-settings"></i></a>
                           </li> -->
                            <li class="hidden-xs hidden-sm">
                                <a class="waves-effect waves-light" href="#" id="btn-fullscreen"><i class=
                              "md md-crop-free"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
         <!-- Left Sidebar Start -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <li>
                            <a href="dashboard.html" class="waves-effect"><i class="ion-ios7-keypad-outline"></i><span>Dashboard</span></a>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-hospital-o"></i> 
                            <span>Hospitals</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="hospital-listing.html">All Hospitals</a></li>
                                <li><a href="add-hospital.html">Add New Hospital</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-plus-square"></i> 
                            <span>Diagnostic Centres</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="diagnostic-center-listing.html">All Diag Centres</a></li>
                                <li><a href="add-diagcenter.html">Add New Diag Centre</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-heartbeat"></i> 
                            <span>Blood Banks</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="all-bloodbank.html">All Blood Banks</a></li>
                                <li><a href="add-bloodbank.html">Add New Blood Bank</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-medkit"></i> 
                            <span>Pharmacies</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="all-pharmacies.html">All Pharmacies</a></li>
                                <li><a href="add-pharmacy.html">Add New Pharmacies</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-ambulance"></i> 
                            <span>Ambulance Providr</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="all-ambulance-provider.html">All Ambulance Providers</a></li>
                                <li><a href="add-ambulance-provider.html">Add Ambulance Provider</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect active" href="#"><i class="fa fa-stethoscope"></i> 
                            <span>Doctors</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li class="active"><a href="all-doctor.html">All Doctors</a></li>
                                <li><a href="add-doctor.html">Add New Doctor</a></li>
                                <li><a href="#">Schedule & Availability</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-stethoscope"></i> 
                            <span>MI Appointments</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Pending Appointments</a></li>
                                <li><a href="all-appointment.html">All Appointments</a></li>
                                <li><a href="addappointment.html">Add New Appointment</a></li>
                                <li><a href="upload-reports.html">Upload Test Reports</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-stethoscope"></i> 
                            <span>Dr. Appointments</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Pending Appointments</a></li>
                                <li><a href="doctor-appointments.html">All Appointments</a></li>
                                <li><a href="add-doctor-appointment.html">Add New Appointment</a></li>

                            </ul>
                        </li>


                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="ion-clipboard"></i> 
                            <span>Quotations</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Pending Quotation Req.</a></li>
                                <li><a href="quotelist.html">All Quotation Requests</a></li>
                                <li><a href="send-quote.html">Send a Quote</a></li>
                                <li><a href="quote-history.html">Quotation History</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-newspaper-o"></i><span>Healthcare Packag.</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="health-packages.html">Healthcare Package</a></li>
                                <li><a href="add-health-package.html">Add New Package</a></li>
                                <li><a href="health-package-booking.html">Package Booking</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-newspaper-o"></i><span>Medicart</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="medicart-offer-list.html">Medicart Offers</a></li>
                                <li><a href="medicart-booking.html">Booking Requests</a></li>
                                <li><a href="medicart-enquiry.html">Enquiries</a></li>
                                <li><a href="add-medicat-offer.html">Add New Offer</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="call-tracking.html" class="waves-effect"><i class="ion-ios7-telephone-outline"></i><span>Call Tracking</span></a>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="md md-account-circle"></i><span>User Management</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="all-user.html">User List</a></li>
                                <li><a href="add-user.html">Add New User</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-star-o"></i><span>Rate & Reviews</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="review-management.html">All Reviews</a></li>
                                <li><a href="#">Ratings</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="waves-effect"><i class="fa fa-star-o"></i><span>Favorited By</span></a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i class="fa fa-bar-chart-o"></i><span>App Analytics</span></a>

                        </li>
                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="md md-trending-up"></i><span>Finance</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Finacial Accounts</a></li>
                                <li><a href="#">Invoice List</a></li>
                                <li><a href="#">Payment Transactions</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-gift"></i> <span>Promo Coupons</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">Coupons List</a></li>
                                <li><a href="#">Create a Coupon</a></li>
                            </ul>
                        </li>


                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-gift"></i> <span>Sponsor Health Tips</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#">All Healthtip Offers</a></li>
                                <li><a href="#">Healthtip Bookings</a></li>
                                <li><a href="#">Healthtip Messages</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect" href="#"><i class="fa fa-list-alt"></i><span>Reporting</span></a>
                        </li>
                        <li class="has_sub">
                            <a class="waves-effect" href="#"><i class="fa fa-gift"></i> <span>Master</span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="specialities.html">Specialities</a></li>
                                <li><a href="diagnostics.html">Diagnostics</a></li>
                                <li><a href="degrees.html">Doctor Degrees</a></li>
                                <li><a href="#">Memberships</a></li>
                                <li><a href="#">Transaction Configuration</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect" href="#"><i class="fa fa-cog"></i><span>Settings</span></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container row">
                    <div class="clearfix">
                        <div class="col-md-12">
                            <h3 class="pull-left page-title">Doctor Management</h3>
                             <a href="all-doctor.html" class="btn btn-appointment btn-back waves-effect waves-light pull-right"><i class="fa fa-angle-left"></i> Back</a>

                        </div>
                    </div>

                    <!-- Left Section Start -->
                    <div class="col-md-12 bg-white">
                        <section class="clearfix detailbox">

                            <!-- Table Section Start -->

                            <article class="clearfix m-t-20 p-b-20 doctor-profile">
                                <aside class="col-md-2 col-sm-2 col-xs-6 p-0">
                                    <img src="assets/images/doctor-pic.jpg" alt="" class="img-responsive doctor-pic" />
                                </aside>
                                <aside class="col-md-5 col-sm-5 col-xs-12">
                                    <h3>Dr. Soumy Sarkar</h3>
                                    <p>MBBS, MD, DNB</p>
                                    <p>General Physician, Neurologist</p>
                                    <p>13 Years Experience</p>
                                    <p>Cardiology Department</p>
                                </aside>
                                <aside class="col-md-5 col-sm-5 col-xs-12 text-right t-xs-left">
                                    <h6><a href="">200 Ratings</a> &nbsp; <span class="label label-success waves-effect waves-light m-b-5 center-block">5.0</span></h6>
                                    <h6><a href="#">12 Reviews</a> &nbsp; <i class="fa fa-commenting clg"></i></h6>
                                    <h6>Doctor on Call &nbsp; <i class="fa fa-phone clg"></i></h6>
                                    <h6><button class="btn btn-appointment waves-effect waves-light" type="button">View Detail</button></h6>
                                </aside>
                            </article>


                            <article class="text-center clearfix m-t-50">
                                <ul class="nav nav-tab nav-doctor">
                                    <li class="active">
                                        <a data-toggle="tab" href="#general">General Detail</a>
                                    </li>
                                    <li class=" ">
                                        <a data-toggle="tab" href="#academic">Academic Detail</a>
                                    </li>
                                    <li class=" ">
                                        <a data-toggle="tab" href="#experience">Experience</a>
                                    </li>
                                    <li class=" ">
                                        <a data-toggle="tab" href="#award">Award & Recognition</a>
                                    </li>
                                    <li class=" ">
                                        <a data-toggle="tab" href="#appointment">Appointment History</a>
                                    </li>
                                    <li class=" ">
                                        <a data-toggle="tab" href="#account">Account</a>
                                    </li>
                                </ul>
                            </article>


                            <article class="tab-content p-b-20 m-t-50">

                                <!-- General Detail Starts -->
                                <section class="tab-pane fade in active" id="general">
                                    <h3 class="page-title">About :</h3>
                                    <p class="text-justified">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of </p>
                                    <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                                    <section class="detailbox">
                                        <div class="bg-white mi-form-section">

                                            <!-- Table Section End -->
                                            <div class="clearfix m-t-20 doctor-description">
                                                <article class="form-group m-lr-0">
                                                    <label for="cemail" class="control-label col-md-4 col-sm-4">Doctor Id :</label>
                                                    <p class="col-md-8 col-sm-8">AHDT9853</p>
                                                </article>
                                                <article class="form-group m-lr-0 ">
                                                    <label for="cemail" class="control-label col-md-4 col-sm-4">Date of Joining :</label>
                                                    <p class="col-md-8 col-sm-8">October 10, 2010</p>
                                                </article>

                                                <article class="form-group m-lr-0 ">
                                                    <label for="cemail" class="control-label col-md-4 col-sm-4">Date of Birth :</label>
                                                    <p class="col-md-8">January16, 1975</p>
                                                </article>

                                                <!--
                                                <article class="form-group m-lr-0 ">
                                                    <label for="cemail" class="control-label col-md-4">Specialities :</label>
                                                    <p class="col-md-8">
                                                        <label class="label doctor-label label-specialist">Cardiology</label>
                                                        <label class="label doctor-label label-specialist">ENT</label>
                                                    </p>
                                                </article>
-->

                                                <article class="form-group m-lr-0 ">
                                                    <label for="cemail" class="control-label col-md-4 col-sm-4">Schedule & Availability :</label>
                                                    <div class="col-md-8 col-sm-8 col-xs-12 week-days">
                                                        <p><span>Monday</span>
                                                            <aside class="w-xs-100">
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                            </aside>
                                                        </p>
                                                        <p><span>Tuesday</span>
                                                            <aside class="w-xs-100">
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                            </aside>
                                                        </p>
                                                        <p><span>Wednesday</span>
                                                            <aside class="w-xs-100">
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                            </aside>
                                                        </p>
                                                        <p><span>Thrusday</span>
                                                            <aside class="w-xs-100">
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                            </aside>
                                                        </p>
                                                        <p><span>Friday</span>
                                                            <aside class="w-xs-100">
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                            </aside>
                                                        </p>
                                                        <p><span>Saturday</span>
                                                            <aside class="w-xs-100">
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                                <label class="label doctor-label">8-11 AM</label>
                                                            </aside>
                                                        </p>
                                                        <p><span>Sunday</span>
                                                            <span>Not Availabel</span>
                                                        </p>
                                                    </div>
                                                </article>

                                                <article class="form-group m-lr-0 ">
                                                    <label for="cemail" class="control-label col-md-4 col-sm-4">Email Id:</label>
                                                    <p class="col-md-8 col-sm-8">abc@contact.com</p>
                                                </article>

                                                <article class="form-group m-lr-0 ">
                                                    <label for="cemail" class="control-label col-md-4 col-sm-4">Landline Phone :</label>
                                                    <p class="col-md-8 col-sm-8">+91 - 731 - 2345678</p>
                                                </article>

                                                <article class="form-group m-lr-0 ">
                                                    <label for="cemail" class="control-label col-md-4 col-sm-4">Mobile :</label>
                                                    <p class="col-md-8 col-sm-8">+91 - 9752000666</p>
                                                </article>

                                                <article class="form-group m-lr-0 ">
                                                    <label for="cemail" class="control-label col-md-4 col-sm-4">Address :</label>
                                                    <p class="col-md-8 col-sm-8">209, ABC Road, XYZ Building, Kolkata - 700001, West Bengal India</p>
                                                </article>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                                <!-- General Detail Ends -->

                                <!-- Academic Detail Starts -->
                                <section class="tab-pane fade in" id="academic">
                                    <div class="clearfix m-t-20 doctor-description">
                                        <aside class="col-md-6 col-sm-6">
                                            <article class="clerfix m-t-20">
                                                <h6>MBBS</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>2015</p>
                                            </article>
                                            <article class="clearfix m-t-20">
                                                <h6>F. A. I. M. S.</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>2013</p>
                                            </article>
                                            <article class="clearfix m-t-20">
                                                <h6>CLMS</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>2000</p>
                                            </article>
                                        </aside>
                                        <aside class="col-md-6 col-sm-6">
                                            <article class="clearfix m-t-20">
                                                <h6>CRMS</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>2016</p>
                                            </article>
                                            <article class="clearfix m-t-20">
                                                <h6>CSRT</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>2016</p>
                                            </article>
                                        </aside>
                                    </div>
                                </section>
                                <!-- Academic Detail Ends -->

                                <!-- Experience Starts -->
                                <section class="tab-pane fade in" id="experience">
                                    <div class="clearfix m-t-20 doctor-description">
                                        <aside class="col-md-6 col-sm-6">
                                            <article class="clerfix m-t-20">
                                                <h6>Oct 1987 - Jan 1995</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>Junior Surgeon, Department-Head</p>
                                                <p>
                                                    <label class="label doctor-label label-specialist">Cardiology</label>
                                                    <label class="label doctor-label label-specialist">ENT</label>
                                                </p>
                                            </article>
                                            <article class="clerfix m-t-20">
                                                <h6>Oct 1987 - Jan 1995</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>Junior Surgeon, Department-Head</p>
                                                <p>
                                                    <label class="label doctor-label label-specialist">Cardiology</label>
                                                    <label class="label doctor-label label-specialist">ENT</label>
                                                </p>
                                            </article>
                                            <article class="clerfix m-t-20">
                                                <h6>Oct 1987 - Jan 1995</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>Junior Surgeon, Department-Head</p>
                                                <p>
                                                    <label class="label doctor-label label-specialist">Cardiology</label>
                                                    <label class="label doctor-label label-specialist">ENT</label>
                                                </p>
                                            </article>

                                        </aside>
                                        <aside class="col-md-6 col-sm-6">
                                            <article class="clerfix m-t-20">
                                                <h6>Oct 1987 - Jan 1995</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>Junior Surgeon, Department-Head</p>
                                                <p>
                                                    <label class="label doctor-label label-specialist">Cardiology</label>
                                                    <label class="label doctor-label label-specialist">ENT</label>
                                                </p>
                                            </article>
                                            <article class="clerfix m-t-20">
                                                <h6>Oct 1987 - Jan 1995</h6>
                                                <p>ABC Medical College, New-Delhi</p>
                                                <p>Junior Surgeon, Department-Head</p>
                                                <p>
                                                    <label class="label doctor-label label-specialist">Cardiology</label>
                                                    <label class="label doctor-label label-specialist">ENT</label>
                                                </p>
                                            </article>
                                        </aside>
                                    </div>
                                </section>
                                <!-- Experience Ends -->


                                <!-- Awards Starts -->
                                <section class="tab-pane fade in" id="award">
                                    <div class="doctor-description lh-25">
                                        <article class="clearfix m-t-20">
                                            <aside class="col-md-6 col-sm-8">
                                                <h6>Certificate Holder of World Osteoporosis, Councle for bone Densteometry and Osteoporosis Hongcong</h6>
                                                <p>2001</p>
                                            </aside>
                                            <aside class="col-md-6 col-sm-4">
                                                <img src="assets/images/certificate.jpg" class="pull-right" />
                                            </aside>
                                        </article>
                                        <article class="clearfix m-t-20">
                                            <aside class="col-md-6 col-sm-8">
                                                <h6>Certificate Holder of World Osteoporosis, Councle for bone Densteometry and Osteoporosis Hongcong</h6>
                                                <p>2001</p>
                                            </aside>
                                            <aside class="col-md-6 col-sm-4">
                                                <img src="assets/images/certificate.jpg" class="pull-right" />
                                            </aside>
                                        </article>
                                        <article class="clearfix m-t-20">
                                            <aside class="col-md-6 col-sm-8">
                                                <h6>Certificate Holder of World Osteoporosis, Councle for bone Densteometry and Osteoporosis Hongcong</h6>
                                                <p>2001</p>
                                            </aside>
                                            <aside class="col-md-6 col-sm-4">
                                                <img src="assets/images/certificate.jpg" class="pull-right" />
                                            </aside>
                                        </article>
                                        <article class="clearfix m-t-20">
                                            <aside class="col-md-6 col-sm-8">
                                                <h6>Certificate Holder of World Osteoporosis, Councle for bone Densteometry and Osteoporosis Hongcong</h6>
                                                <p>2001</p>
                                            </aside>
                                            <aside class="col-md-6 col-sm-4">
                                                <img src="assets/images/certificate.jpg" class="pull-right" />
                                            </aside>
                                        </article>
                                    </div>
                                </section>
                                <!-- Awards Ends -->


                                <!-- Appointment History Starts -->
                                <section class="tab-pane fade in" id="appointment">
                                    <aside class="table-responsive">
                                        <table class="table doctor-table">
                                            <tr>
                                                <th>Appt Id</th>
                                                <th>Date & Time</th>
                                                <th>Patient</th>
                                                <th>Appointment Status</th>
                                                <th>Rating Received</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>ACH089</h6></td>
                                                <td>
                                                    <h6>September 17, 2015</h6>
                                                    <p>12:30 PM</p>
                                                </td>
                                                <td>
                                                    <h6>Vipul Jain</h6>
                                                    <p>Male | 45 Years</p>
                                                </td>
                                                <td>
                                                    <h6>Completed</h6>
                                                </td>
                                                <td>
                                                    <h6><span class="label label-success waves-effect waves-light m-b-5 center-block">5.0</span></h6>
                                                    <h6><i class="fa fa-commenting clg"></i></h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>ACH089</h6></td>
                                                <td>
                                                    <h6>September 17, 2015</h6>
                                                    <p>12:30 PM</p>
                                                </td>
                                                <td>
                                                    <h6>Vipul Jain</h6>
                                                    <p>Male | 45 Years</p>
                                                </td>
                                                <td>
                                                    <h6>Completed</h6>
                                                </td>
                                                <td>
                                                    <h6><span class="label label-success waves-effect waves-light m-b-5 center-block">5.0</span></h6>
                                                    <h6><i class="fa fa-commenting clg"></i></h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>ACH089</h6></td>
                                                <td>
                                                    <h6>September 17, 2015</h6>
                                                    <p>12:30 PM</p>
                                                </td>
                                                <td>
                                                    <h6>Vipul Jain</h6>
                                                    <p>Male | 45 Years</p>
                                                </td>
                                                <td>
                                                    <h6>Completed</h6>
                                                </td>
                                                <td>
                                                    <h6><span class="label label-success waves-effect waves-light m-b-5 center-block">5.0</span></h6>
                                                    <h6><i class="fa fa-commenting clg"></i></h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>ACH089</h6></td>
                                                <td>
                                                    <h6>September 17, 2015</h6>
                                                    <p>12:30 PM</p>
                                                </td>
                                                <td>
                                                    <h6>Vipul Jain</h6>
                                                    <p>Male | 45 Years</p>
                                                </td>
                                                <td>
                                                    <h6>Completed</h6>
                                                </td>
                                                <td>
                                                    <h6><span class="label label-success waves-effect waves-light m-b-5 center-block">5.0</span></h6>
                                                    <h6><i class="fa fa-commenting clg"></i></h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>ACH089</h6></td>
                                                <td>
                                                    <h6>September 17, 2015</h6>
                                                    <p>12:30 PM</p>
                                                </td>
                                                <td>
                                                    <h6>Vipul Jain</h6>
                                                    <p>Male | 45 Years</p>
                                                </td>
                                                <td>
                                                    <h6>Completed</h6>
                                                </td>
                                                <td>
                                                    <h6><span class="label label-success waves-effect waves-light m-b-5 center-block">5.0</span></h6>
                                                    <h6><i class="fa fa-commenting clg"></i></h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>ACH089</h6></td>
                                                <td>
                                                    <h6>September 17, 2015</h6>
                                                    <p>12:30 PM</p>
                                                </td>
                                                <td>
                                                    <h6>Vipul Jain</h6>
                                                    <p>Male | 45 Years</p>
                                                </td>
                                                <td>
                                                    <h6>Completed</h6>
                                                </td>
                                                <td>
                                                    <h6><span class="label label-success waves-effect waves-light m-b-5 center-block">5.0</span></h6>
                                                    <h6><i class="fa fa-commenting clg"></i></h6>
                                                </td>
                                            </tr>
                                        </table>
                                    </aside>
                                </section>
                                <!-- Appointment History Starts -->

                                <!-- Account Detail Starts -->
                                <section class="tab-pane fade in" id="account">

                                    <div class="clearfix m-t-20 p-b-20 doctor-description">
                                        <article class="clearfix m-b-10">
                                            <label for="cemail" class="control-label col-md-4 col-sm-4">Registered Email Id :</label>
                                            <p class="col-md-8 col-sm-8">abs@example.com</p>
                                        </article>
                                        <article class="clearfix m-b-10">
                                            <label for="cemail" class="control-label col-md-4 col-sm-4">Registered Mobile Number:</label>
                                            <p class="col-md-8 col-sm-8">+91 8077224467</p>
                                        </article>
                                        <article class="clearfix m-b-10">
                                            <label for="cemail" class="control-label col-md-4 col-sm-4">Change Password:</label>

                                            <aside class="col-md-5 col-sm-5">
                                                <form class="">
                                                    <input type="password" name="password" class="form-control" placeholder="New Password" />
                                                </form>
                                            </aside>
                                        </article>
                                    </div>
                                </section>
                                <!-- Account Detail Ends -->

                            </article>


                        </section>
                    </div>

                    <!-- Left Section End -->

                </div>

                <!-- container -->
            </div>
            <!-- content -->
            <footer class="footer text-right">
                2015 © Qyura.
            </footer>
        </div>
        <!-- End Right content here -->
    </div>
    <!-- END wrapper -->



    <script>
        var resizefunc = [];
    </script>


    <script src="assets/js/framework.js">
    </script>
  

</body>

</html>