@media screen and (max-width:767px) {
    .side-menu.left {
        z-index: 9999;
    }
    .m-tb-xs-3 {
        margin: 3px 0px;
    }
    .m-tb-xs-5 {
        margin: 5px 0px;
    }
    .m-t-xs-10 {
        margin-top: 14px;
    }
    .m-t-sm-10 {
        margin-top: 10px;
    }
    .m-r-0 {
        margin-right: 0px;
    }
    .status-select {
        width: 100px;
    }
    .form-control {
        margin: 1px 0px;
    }
    .si-dashboard h3 {
        font-size: 14px;
    }
    .hf-14 {
        font-size: 14px;
    }
    /* -- Hospital Detail -- */
    .nav-setting li {
        float: none;
    }
    ul.nav-setting li a {
        font-size: 14px;
        line-height: 30px;
    }
    /*-- Appointment Detail --*/
    .patient-pic {
        width: 75px;
    }
    .effects .img {
        width: 32%;
        margin-right: 1.33%;
    }
    ul.nav-doctor {
        width: 100%;
        float: left;
    }
    ul.nav-doctor li {
        float: none;
    }
    .mi-form-section label.control-label {
        margin-top: 10px;
    }
    ul.nav-doctor li a {
        font-size: 14px;
        line-height: 30px;
    }
    .doctor-pic {
        width: 90px;
    }
    .w-xs-100 {
        float: left;
        margin: 7px 0;
        width: 100%;
    }
    .t-xs-left {
        text-align: left;
    }
    .doc-online {
        display: none;
    }
    /* -- Specialities --*/
    .nav.nav-tabs > li > a {
        line-height: 25px;
        padding: 10px 25px;
    }
    ul.ul-tick
    {
        padding-left: 30px;
    }
    ul.ul-setting
    {
        padding-left:15px;
    }
}

@media screen and (max-width:360px) {}

@media screen and (min-width:361px) and (max-width:540px) {}

@media screen and (min-width:541px) and (max-width:767px) {}

@media screen and (min-width:768px) and (max-width:991px) {
    /* -- Hospital Listing -- */
    .all-bloodbank tr td:nth-child(5) {
        width: 160px;
    }
    ul.nav-setting li a {
        padding: 0 12px
    }
    .m-tb-sm-3 {
        margin: 3px 0px;
    }
    .m-t-sm-10 {
        margin-top: 10px;
    }
    .m-t-sm-5 {
        margin-top: 5px;
    }
    /*-- Appointment Detail --*/
    .patient-pic {
        width: 75px;
    }
    .effects .img {
        width: 25%;
    }
    ul.nav-doctor li a {
        padding: 0 11px;
    }
    .m-r-0 {
        margin-right: 0px;
    }
     ul.ul-tick
    {
        padding-left: 30px;
    }
    ul.ul-setting
    {
        padding-left:15px;
    }
}

@media screen and (min-width:992px) and (max-width:1100px) {
    /* -- Hospital Detail -- */
    ul.nav-setting li a {
        padding: 0 17px
    }
    .btn-sm,
    .btn-group-sm>.btn {
        padding: 5px 9px;
    }
    .mi-form-section {
        font-size: 12px;
    }
    .chart canvas
    {
        width:86px !important;
         height:86px !important;
    }
    .bootstrap-select > .dropdown-toggle
    {
        font-size: 13px;
    }
     .m-t-md-15 
    {
        margin-top: 15px;
    }
    .bootstrap-select > .dropdown-toggle
    {
        padding-left: 5px;
    }
}



@media screen and (min-width:767px) {
    .t-center {
        text-align: center;
    }
}

@media (min-width:0px) and (max-width:767px) {
    #wrapper.enlarged .left.side-menu #sidebar-menu ul>li>a {
        display: none;
        padding-left: 10px
    }
    .content-page {
        margin-left: 0px;
    }
    
}

@media (min-width:767px) and (max-width:6000px) {
    #wrapper.enlarged .left.side-menu {
        width: 44px;
    }
    #wrapper.enlarged .content-page {
        margin-left: 44px;
    }
    /*.content-page { margin-left: 44px;}*/
    body.widescreen.fixed-left-void div#wrapper.enlarged.forced div.topbar div.topbar-left div.text-center.hidden-xs.hidden-sm a.logo {
        display: none;
    }
    .t-xs-left {
        text-align: right;
    }

    
}



@media (width:768px) {
    .content-page {
        margin-left: 44px;
    }

    
}

.mlogo {
    color: #fff !important;
    float: left;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 70px;
    width: 44px;
    height: 44px;
}

.mlogo i {
    background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll center center;
    display: block;
    height: 70px;
    width: 44px;
}

 .h-300
    {
        height: 400px !important;
        width: 100% !important;
    }

   .revenue-t {width:100% !important; height:200px !important;}

   .w-full {width:100% !important;}